<div class="container">
    <h1>Hero Form</h1>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address">
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age">
      </div>
     
      <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control" id="power" required>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
          <input type="radio" value="M" name="food" [(ngModel)]="myFood"> Male
          <input type="radio" value="F" name="food" [(ngModel)]="myFood"> Female
          </div>


      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>