<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm" >
  
    <table class="fullwidth" cellspacing="0">
      <tr>
        <td>
            <md-input-container class="fullwidth">
              <input type="text" mdInput placeholder="First Name" id="firstname"[(ngModel)]="address.firstname" name="firstname">
            </md-input-container>
        </td>
  
        <td>
            <md-input-container class="fullwidth">
              <input type="text" mdInput placeholder="Last Name" id="lastname"[(ngModel)]="address.lastname" name="lastname">
            </md-input-container>
        </td>
      </tr>
    </table>
  
    <p>
      <md-input-container class="fullwidth">
        <textarea mdInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
      </md-input-container>
    </p>
  
    <table>
      <tr>
          <td>
              <md-input-container class="fullwidth">
                <input type="text" mdInput placeholder="City" id="city"[(ngModel)]="address.city" name="city">
              </md-input-container>
          </td>
  
          <td>
              <md-input-container class="fullwidth">
                <input type="text" mdInput placeholder="State" id="state"[(ngModel)]="address.state" name="state">
              </md-input-container>
          </td>
  
          <td>
              <md-input-container class="fullwidth">
                <input type="text" mdInput maxlength="6" #postalcode placeholder="PostCode" id="postalcode"[(ngModel)]="address.postal" name="postalCode">
              <md-hint aligh="end">
                {{postalcode.value.length}}/6
              </md-hint>
              </md-input-container>
          </td>
      </tr>
    </table>
    <p>
      <button type="submit" md-raised-button>Submit</button>
    </p>
  </form>
  