<br>
<br>
<br>
<p>
 Button Types:
 <br>
 <button md-raised-button >raised-button</button><br>
 <button md-button >On focus button</button><br>
 Radio button<br>
 
 <md-radio-group>
  <md-radio-button value="1">Option 1</md-radio-button>
  <md-radio-button value="2">Option 2</md-radio-button>
</md-radio-group>

</p>

