<p>
  child1 works!
</p>
<button (click)="onClickMe()">Click me!</button>
<br>


<input (keyup)="onKey($event)">
<p>{{values}}</p>

  <input #box (keyup)="onKey(box.value)">
  <p>{{newvalues}}</p>
  {{box.value}}
<br>

  <input #box1 (keyup.enter)="onEnter(box1.value)">
  <p>{{value1}}</p>