
<table class="fullwidth" cellspacing="0">
  <tr>
    <td>
      <button md-raised-button routerLink="/hero-form" routerLinkActive="active" >Forms</button> 
    </td>

    <td>
      <button md-raised-button routerLink="/button1" routerLinkActive="active">Buttons</button>
    </td> 

    <td>
      <button md-raised-button routerLink="/popUps" routerLinkActive="active">PopUps</button>
    </td>

    <td>
       <button md-raised-button routerLink="/hero-form" routerLinkActive="active"> Layouts</button>
    </td>

    <td>
      <button md-raised-button routerLink="/app-test1">Navigation</button>
   </td>
  </tr>
</table>
<router-outlet></router-outlet>

<!--
<h3>Address Form</h3>
<my-form></my-form>

<button md-button [mdMenuTriggerFor]="menu">Menu</button>
<md-menu #menu="mdMenu">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>
<br>
<md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
      Jolly good!
    </md-sidenav>
  
    <div class="example-sidenav-content">
      <button type="button" md-button (click)="sidenav.open()">
        Open sidenav
      </button>
    </div>
  
  </md-sidenav-container>
  <br>
  <md-toolbar>My App</md-toolbar>
<br>

<table mdSort (mdSortChange)="sortData($event)">
    <tr>
      <th md-sort-header="name">Dessert (100g)</th>
      <th md-sort-header="calories">Calories</th>
      <th md-sort-header="fat">Fat (g)</th>
      <th md-sort-header="carbs">Carbs (g)</th>
      <th md-sort-header="protein">Protein (g)</th>
    </tr>
  
    <tr >
      <td>Rasogola</td>
      <td>4534</td>
      <td>345653</td>
      <td>3465</td>
      <td>34643</td>
    </tr>
  </table>

<br>  

<button md-button>Click me!</button><br>
<md-card>Simple card</md-card>
<md-list>
  <md-list-item>Item 1</md-list-item>
  <md-list-item>Item 2</md-list-item>
  <md-list-item>Item 3</md-list-item>
</md-list>
<md-grid-list cols="2" rowHeight="2:1">
  <md-grid-tile>section1</md-grid-tile>
  <md-grid-tile>section2</md-grid-tile>
  <md-grid-tile>section3</md-grid-tile>
  <md-grid-tile>section4</md-grid-tile>
</md-grid-list>
<md-tab-group>
  <md-tab label="Tab 1">Content 1</md-tab>
  <md-tab label="Tab 2">Content 2</md-tab>
</md-tab-group>
<md-expansion-panel>
  <md-expansion-panel-header>
    <md-panel-title>
      Personal data
    </md-panel-title>
    <md-panel-description>
      Type your name and age
    </md-panel-description>
  </md-expansion-panel-header>
  
  <md-form-field>
    <input mdInput placeholder="First name">
  </md-form-field>
  
  <md-form-field>
    <input mdInput placeholder="Age">
  </md-form-field>
  <button md-submit>submit</button><br>
</md-expansion-panel>




<span mdTooltip="Tooltip!">I have a tooltip</span><br>

<md-form-field>
  <input mdInput value="Disco party!" placeholder="Message" #message>
</md-form-field>

<md-form-field>
  <input mdInput value="Dance" placeholder="Action" #action>
</md-form-field>

<button md-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button><br>



<button md-button>Click me!</button><br>
<md-button-toggle>Toggle me!</md-button-toggle><br>
<md-chip-list>
  <md-chip>One fish</md-chip>
  <md-chip>Two fish</md-chip>
  <md-chip color="primary" selected="true">Primary fish</md-chip>
  <md-chip color="accent" selected="true">Accent fish</md-chip>
</md-chip-list><br>
<md-icon>home</md-icon><br>


<button md-raised-button routerLink="/app-test1">Click For Navigation</button>
<router-outlet></router-outlet>

<br>
<br>
<md-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>
<md-progress-bar mode="indeterminate"></md-progress-bar>
-->



