<p>
  testj1 works!
</p>
<nav>
  <a routerLink="/testj1/app-ch1" routerLinkActive="active">ch1</a>
  <a routerLink="/testj1/app-ch2" routerLinkActive="active">ch2</a>
</nav>
<router-outlet></router-outlet>