

<p>
  test1 works!
  This is Module
</p>

<button md-button routerLink="">Click here to go back app module</button>


<h1>Angular Router</h1>
<nav>
  <a routerLink="/app-test1/app-child1" routerLinkActive="active">Child1</a>
  <a routerLink="/app-test1/app-child2" routerLinkActive="active">Child2</a>
</nav>
<router-outlet></router-outlet>

